#contact-form,
.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 21px 27px;
  color: var(--textColor);
}

.field label {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: var(--textColor);
}

.input {
  background: var(--darkBackground);
  border: 1px solid var(--borderColor);
  border-radius: 8px;
  min-height: 41px;
  padding: 10px 15px;
  font-family: 'Fira Code', monospace;
  color: var(--textColor);
}

.btn {
  background: var(--btnColor);
  border: 2px solid var(--btnColor);
  padding: 10px 14px;
  color: var(--textColor);
  border-radius: 8px;
  width: auto;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  background: var(--darkBackground);
}

.input:focus,
.btn:focus {
  border: 3px solid var(--textColor);
  background: var(--darkBackground);
  outline: none;
  box-shadow: 0 0 0 2px rgba(96, 123, 150, 0.3);
}

.error {
  text-align: center;
  color: var(--orangeColor);
  font-size: 12px;
}

.form-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  padding: 21px 27px;
}

.form-message p {
  color: var(--textColor);
  text-align: center;
  padding: 0 27px;
}

.testimonial {
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: start;
  padding: 0.05rem;
}

.quote {
  color: var(--orangeColor);
  font-size: 12px;
  background: var(--borderColor);
  border: 1px solid var(--borderColor);
  padding: 24px;
  border-radius: 15px;
}

.left-quote-icon,
.right-quote-icon {
  display: inline;
  font-size: 1.2rem;
  color: var(--greenColor);
}

.left-quote-icon {
  margin-right: 0.5rem;
}

.right-quote-icon {
  margin-left: 0.5rem;
}

.profile-wrapper {
  position: relative;
  text-align: start;
  display: flex;
}

.quote-link {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid var(--mainColor);
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-link img {
  width: 60px;
  height: 60px;
}

.quote-author-avatar {
  border-radius: 50%;
}
