.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--textColor);
  padding: 0 18px;
  border-radius: 18px 18px 0 0;
  border-bottom: 1px solid var(--borderColor);
}

.logo {
  font-weight: 700;
  text-decoration: none;
  color: var(--textColor);
  transition: all 0.4s ease-in-out;
}

.logo:hover {
  color: var(--textWhite);
  scale: 1.1;
}

.nav .nav-link {
  font-size: 16px;
  text-decoration: none;
  color: var(--textColor);
  margin: 15px;
  position: relative;
  opacity: 0.9;
}

.nav .nav-link:hover {
  opacity: 1;
}

.nav .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #fff;
  transition: all 0.45s;
}

#active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: var(--orangeColor);
  transition: all 0.45s;
}

.nav.open .links-container {
  display: none;
}

.nav .nav-link:hover::before {
  width: 100%;
}

.menu-btn {
  display: none;
}

@media (max-width: 820px) {
  .nav {
    position: absolute;
    top: 51px;
    display: flex;
    flex-direction: column;
    left: -25px;
    width: 100%;
    height: 91.5%;
    background: var(--mainColor);
    transform: translateX(-100%);
    transition: all 0.45s ease-in-out;
  }

  .nav .nav-link::before {
    background: var(--mainColor);
  }

  .nav.open {
    transform: translateX(25px);
    background: var(--mainColor);
    padding: 0;
    border-radius: 0 0 18px 18px;
    z-index: 2000;
    height: 92vh;
  }

  .nav.open .nav-link {
    padding: 18px;
    margin: 0;
    border-bottom: 1px solid var(--borderColor);
    transition: all 0.4s ease-in-out;
  }

  .nav.open .nav-link:hover {
    color: var(--textWhite);
    background: var(--borderColor);
  }

  .nav.open .links-container {
    display: flex;
  }

  .menu-btn {
    display: flex;
    background: none;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: end;
    cursor: pointer;
  }

  .menu-btn .bar {
    position: relative;
    width: var(--btnWidth);
    height: 2px;
    background: var(--textColor);
    transition: all 0.45s ease-in-out;
  }

  .menu-btn .bar::before,
  .menu-btn .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: var(--textColor);
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .menu-btn .bar::before {
    width: var(--btnWidth);
    transform: translateY(-8px);
    right: 0;
  }

  .menu-btn .bar::after {
    width: var(--btnWidth);
    transform: translateY(8px);
    right: 0;
  }

  .menu-btn.open .bar {
    transform: translateX(-40px);
    background: transparent;
  }

  .menu-btn.open .bar::before {
    width: var(--btnWidth);
    transform: rotate(45deg) translate(26px, -26px);
  }

  .menu-btn.open .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }
}

@media screen and (min-width: 820px) {
  .header {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 0;
  }

  .logo { padding: 0.5rem 1rem; }

  .nav {
    display: flex;
  }

  .nav .nav-link {
    border-left: 1px solid var(--borderColor);
    padding: 0.5rem 1rem;
    margin: 0;
  }

  .nav .nav-link:hover {
    color: #fff;
  }

  .nav .about-me-link {
    border-right: 1px solid var(--borderColor);
  }

  .nav .contact-me-link {
    margin-left: auto;
  }
}
