/* App Styles */

#root {
  display: flex;
  flex-direction: column;
  background: #011627;
  border: 1px solid #1e2d3d;
  border-radius: 8px;
  min-height: 100vh;
  position: relative;
}

@media screen and (min-width: 768px) {
  #root {
    height: 100vh;
  }
}
