@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

:root {
  --mainColor: #011627;
  --purpleColor: #4d5bce;
  --greenColor: #43d9ad;
  --orangeColor: #e99287;
  --borderColor: #1e2d3d;
  --darkBackground: #011221;
  --textColor: #607b96;
  --textWhite: #fff;
  --btnWidth: 20px;
}

body {
  margin: 0;
  padding: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #010c15;
  color: #fff;
}
