@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

:root {
  --mainColor: #011627;
  --purpleColor: #4d5bce;
  --greenColor: #43d9ad;
  --orangeColor: #e99287;
  --borderColor: #1e2d3d;
  --btnColor: #1c2b3a;
  --formTextColor: #465e77;
  --darkBackground: #011221;
  --textColor: #dad2be;
  --textWhite: #fff;
  --btnWidth: 20px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #010c15;
  color: #fff;
}

@media screen and (min-width: 768px) {
  body {
    padding: 0;
    position: relative;
  }
}
